
importFrom(sp, bbox, coordinates, 'coordinates<-', fullgrid, 'fullgrid<-', over, Polygon, Polygons, proj4string, 'proj4string<-', SpatialPointsDataFrame, SpatialLinesDataFrame, SpatialPolygons, SpatialPolygonsDataFrame, spChFIDs) 
importFrom(boot,boot)
importFrom(rgdal, GDALinfo, readGDAL, readOGR, showWKT)
importFrom(maptools, spRbind)
importFrom(rgeos, readWKT)
importFrom(spdep,card,dnearneigh,knearneigh,knn2nb, nb2listw, nbdists, geary.test, moran.test)
importFrom(splancs,inout)
importFrom(grDevices, grey, nclass.FD, nclass.Sturges,nclass.scott)
importFrom(graphics, abline, axis, lines, pairs, par, plot, points, segments, strwidth, text)
importFrom(stats, AIC, anova, chisq.test, cor.test, dist,family, formula, ks.test, lm, logLik, lowess,model.frame, na.omit, prop.test, qnorm, quantile,residuals, sd, terms, update)
importFrom(utils, flush.console, read.delim, select.list, write.table) 
if(tools:::.OStype() == "windows") importFrom(utils, winDialog)

export(CI,PermTest,Segments,TukeyHSDs,classnum,cormat,correlog,date2winter,diag2edge,difshannonbio,dirProj,dirSeg,distNNeigh,distNode,distSeg,distTot,expandpoly,findR,friedmanmc,gps2gpx,kruskalmc,ks.gof,mergeTrackObs,pairsrp,pave,pclig,permcont,piankabio,piankabioboot,polycirc,polycirc2,postxt,print.mc, QGIS2sp, readGDALbbox,readVista,rmls,rwhatbufCat,rwhatbufCat2,rwhatbufNum,selMod,shannon,shannonbio,shannonbioboot,tabcont2categ,thintrack,trans2pix,trans2seg, transLines2pix,uploadGPS,val4symb,valchisq,write.delim,writeGPX,writePRJ) 

S3method(print, PermTest)
S3method(PermTest, lm)
S3method(PermTest, glm)
S3method(PermTest, lme)
S3method(kruskalmc, default)
S3method(kruskalmc, formula)
S3method(selMod, lm)
S3method(selMod, list)
S3method(plot, correlog)
S3method(print, correlog)
S3method(print, mc)






